:root {
  --bg: #343647;
  --nav-link-fs: 1.2rem;
  --main-p-fs: 1rem;
  --main-h1-fs: 3rem;
  --btn-fs: 1rem;
  --section-title-fs: 2rem;
  --about-p-fs: 1.2rem;
  --content-width: 90%;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

::selection {
  color: var(--bg);
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #dddddd;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--bg);
  font-family: sans-serif;
}

body.no-scroll {
  overflow-y: hidden;
  overflow-x: hidden;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: 2px dotted #bbbbbb;
}

a {
  color: #e2b0b0;
}

.section-title {
  padding-top: 65px;
  margin-top: 10px;
  font-size: var(--section-title-fs);
  color: #bbbbbb;
  padding-bottom: 10px;
  border-bottom: 2px solid #232535;
}

/* Menu */
.menu {
  position: fixed;
  top: -100vh;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: #232535;
  transition: 0.2s;
}

.menu.active {
  top: 0;
  transition: 0.3s;
}

.menu-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-link {
  margin-bottom: 30px;
  text-decoration: none;
  color: #bbbbbb;
  font-size: 2rem;
  transition: color 0.3s;
}

.close-menu {
  position: absolute;
  top: 3%;
  right: 3%;
  transform: translate(-3%, -3%);
  background: none;
  border: none;
  cursor: pointer;
}

.close-menu img {
  width: 3rem;
  height: 3rem;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container > div {
  width: var(--content-width);
}

.nav-bar {
  position: fixed;
  z-index: 90;
  top: 0;
  width: 100%;
  height: 100px;
  left: 0;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  transition: 0.3s;
}

.nav-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--content-width);
}

.nav-icon img {
  transition: transform 1s;
  width: 50px;
  height: 50px;
}

.nav-link {
  margin-left: 40px;
  text-decoration: none;
  color: #bbbbbb;
  font-size: var(--nav-link-fs);
  transition: color 0.3s;
  display: none;
  position: relative;
  padding-bottom: 3px;
}

.nav-link.active {
  color: white;
}

.nav-link.active::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: 0.3s;
}

.link-line::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: 0.3s;
}

.open-menu {
  background: none;
  border: none;
  cursor: pointer;
}

.open-menu img {
  width: 2rem;
  height: 2rem;
}

.main {
  position: relative;
  height: calc(100vh - 200px);
  width: 100%;
  margin-top: 200px;
}

.main p {
  color: #bbbbbb;
  font-size: var(--main-p-fs);
  transition: font 0.3s;
}

.main h1 {
  color: white;
  font-size: var(--main-h1-fs);
  transition: font 0.3s;
}

.main .btn-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fade-down {
  animation: fadeDown 1s;
  -moz-animation: fadeDown 1s;
}

.btn {
  border: 1px solid transparent;
  padding: 10px 20px;
  text-decoration: none;
  background: none;
  font-size: var(--btn-fs);
  transition: border 0.3s, background 0.3s;
}

.btn-container .btn:first-child {
  font-weight: bold;
  background-color: #bbbbbb;
  color: var(--bg);
}

.btn-container .btn:last-child {
  margin-left: 20px;
  color: #bbbbbb;
  font-weight: bold;
}

.scroll-down {
  text-decoration: none;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 2%);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
}

.scroll-down p {
  font-size: 18px;
}

.socials {
  position: absolute;
  right: 0%;
  bottom: 2%;
  display: flex;
}

.socials img {
  width: 2rem;
  height: 2rem;
}

/* Skills section */
.skills-container {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.skill {
  margin-bottom: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.skill img {
  margin-bottom: 10px;
  max-width: 100px;
}

/* Project section */
.projects {
  margin-top: 2rem;
}

.projects-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.project {
  position: relative;
  width: 100%;
  height: 250px;
  padding: 20px;
  background-color: #232535;
}

.project h2 {
  color: white;
  margin-bottom: 10px;
}

.project p {
  color: white;
}

.project .btn-container {
  position: absolute;
  bottom: 10%;
  transform: translateY(-10%);
}

.project .project-btn {
  padding: 10px 20px;
  border: 1px solid transparent;
  background-color: #e5e5e5;
  text-decoration: none;
  color: var(--bg);
  font-weight: bold;
}

/* About section */
.about {
  margin-top: 2rem;
}

.about p {
  font-size: var(--about-p-fs);
  margin-top: 1rem;
  color: white;
}

.contact-section {
  margin-top: 2rem;
}

#contact-form {
  margin-top: 2rem;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  color: #bbbbbb;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.form-input {
  border-radius: 0;
  padding: 10px;
  min-width: 100%;
  max-width: 100%;
  min-height: 50px;
  background-color: #232535;
  border: 1px solid #232535;
  color: white;
  font-size: 1rem;
  font-family: sans-serif;
}

.submit-btn {
  padding: 10px 30px;
  font-size: 1.2rem;
  align-self: flex-end;
  cursor: pointer;
  color: white;
  background-color: #232535;
  border: 1px solid #232535;
  transition: opacity 0.3s;
}

#msg {
  display: none;
  background-color: #5cb85c;
  padding: 10px;
  color: white;
  margin-bottom: 1rem;
}

.form-other {
  font-style: italic;
  color: #dddddd;
  transition: color 0.3s;
}

/* Footer */
.footer {
  margin-top: 2rem;
  width: 100%;
  border-top: 1px solid #232535;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icon img {
  width: 70px;
  height: 70px;
  display: none;
}

.footer-links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.footer-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #bbbbbb;
  font-size: 1.2rem;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border 0.3s;
  position: relative;
  padding-bottom: 2px;
  margin-bottom: 5px;
}

.footer-center {
  margin-top: 20px;
  color: #bbbbbb;
}

.footer-center a {
  transition: color 0.3s;
  color: #dddddd;
}

/* Media Queries */
@media (hover: hover) {
  .nav-link:hover {
    color: white;
  }

  .link-line:hover::before {
    width: 100%;
  }

  .btn-container .btn:first-child:hover {
    background: none;
    border: 1px solid #bbbbbb;
    color: white;
  }
  .btn-container .btn:last-child:hover {
    border: 1px solid #bbbbbb;
    color: white;
  }

  .scroll-down:hover {
    transform: translate(-50%, 2%) scale(1.2);
  }

  .project .project-btn:hover {
    opacity: 0.9;
  }

  .nav-icon img:hover {
    transform: rotate(360deg);
  }

  .footer-link:hover {
    color: white;
  }

  .footer-center a:hover {
    color: white;
  }

  .submit-btn:hover {
    opacity: 0.8;
  }

  .form-other:hover {
    color: white;
  }
}

@media (max-width: 320px) {
  :root {
    --main-p-fs: 1rem;
    --main-h1-fs: 1.5rem;
    --nav-link-fs: 2rem;
  }

  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .skill img {
    max-width: 80px;
  }

  .project {
    height: 250px;
  }

  .project .btn-container {
    display: flex;
    flex-direction: column;
  }

  .project .project-btn {
    margin-bottom: 5px;
  }

  .footer {
    text-align: center;
  }
}

@media (min-width: 830px) {
  .nav-link {
    display: inline-flex;
  }

  .open-menu {
    display: none;
  }
}

@media (min-width: 768px) {
  :root {
    --main-p-fs: 1.8rem;
    --main-h1-fs: 4rem;
    --nav-link-fs: 1.5rem;
    --section-title-fs: 3rem;
    --content-width: 80%;
    grid-template-columns: repeat(1, 1fr);
  }

  .socials img {
    width: 2rem;
    height: 2rem;
  }

  .skills-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer img {
    display: block;
  }
}

@media (min-width: 1000px) {
  :root {
    --main-p-fs: 2rem;
    --main-h1-fs: 5rem;
    --about-p-fs: 1.3rem;
  }

  .skills-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1400px) {
  :root {
    --main-p-fs: 3rem;
    --main-h1-fs: 7.5rem;
    --about-p-fs: 1.3rem;
  }

  .main .btn {
    font-size: 30px;
    padding: 10px 20px;
  }

  .skills-container {
    grid-template-columns: repeat(6, 1fr);
  }

  .projects-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1700px) {
  .skills-container {
    grid-template-columns: repeat(8, 1fr);
  }
  .projects-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* 404 Page */
.main-404 {
  animation: jump 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.btn-404 {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 30px;
  text-decoration: none;
  color: white;
  background-color: #232535;
}

/* Animations */
@keyframes jump {
  0% {
    transform: scale(0) translateY(0);
  }
  50% {
    transform: scale(1) translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    -moz-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
  }
}

.rotate {
  animation: rotate 2s ease;
  -moz-animation: rotate 2s ease;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
