.timeline-link {
  position: relative;
  text-decoration: none;
  color: #bbbbbb;
  transition: 0.3s;
  position: relative;
  padding-bottom: 2px;
  margin-bottom: 5px;
}

.timeline-section {
  margin-top: 3rem;
}

.timeline {
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
}

.timeline::-webkit-scrollbar {
  width: 5px;
}

.timeline::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 6px;
  background: #44465c;
  left: 50%;
  margin-left: -3px;
}

.timeline-item {
  padding: 10px 40px;
  position: relative;
  width: 50%;
}

.timeline-item::after {
  z-index: 80;
  content: '';
  position: absolute;
  top: 50%;
  right: -13px;
  width: 25px;
  height: 25px;
  background: #232535;
  border-radius: 50%;
  transform: translateY(-50%);
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.right::after {
  left: -12px;
}

.left::before {
  content: '';
  height: 0px;
  width: 0px;
  position: absolute;
  top: 50%;
  right: 30px;
  border: 10px solid #232535;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #232535;
  transform: translateY(-50%);
}

.right::before {
  content: '';
  height: 0px;
  width: 0px;
  position: absolute;
  top: 50%;
  left: 30px;
  border: 10px solid #232535;
  border-width: 10px 10px 10px 0;
  border-color: transparent #232535 transparent transparent;
  transform: translateY(-50%);
}

.timeline-item-body {
  padding: 20px;
  background: #232535;
  color: white;
  font-size: 1.1rem;
}

.timeline-item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  color: white;
}

.timeline-item-header p {
  font-size: 1.2rem;
  color: #848892;
  font-weight: bold;
}

.timeline-item-header h4 {
  font-size: 1rem;
  color: white;
  background-color: #44465c;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .timeline::after {
    left: 20px;
  }

  .timeline-item {
    width: 100%;
    padding-left: 55px;
    padding-right: 0px;
  }

  .timeline-item::before {
    left: 45px;
    border-width: 10px 10px 10px 0;
    border-color: transparent #232535 transparent transparent;
  }

  .left::after,
  .right::after {
    left: 8px;
    z-index: 80;
  }

  .right {
    left: 0;
  }
}

@media (hover: hover) {
  .timeline-link:hover{
    color: white;
  }
}